* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    
}
body {
    margin: 0;
    font-family: Roboto, Arial;
    background-color: white;
    line-height: 1.7;
}

h1, h2, h3, h4, #p {
    color: #343E51;
    line-height: 1.3;
}
p {
    color: #60697B;
}


